<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xmlns:cxf="http://cxf.apache.org/core"
      xsi:schemaLocation="http://www.springframework.org/schema/beans 
      					  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         				  http://cxf.apache.org/jaxrs 
         				  http://cxf.apache.org/schemas/jaxrs.xsd
         				  http://cxf.apache.org/core 
         				  http://cxf.apache.org/schemas/core.xsd">
         			
    <import resource="classpath*:spring/spring-commons.xml"/>
    <import resource="classpath*:spring/spring-UtilApplicationContext.xml"/>  
	
    <bean id="organizationContactDaoService" class="com.wytal.commons.service.contact.impl.ContactDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-organizationContact.sql"/>
   		<property name="seedDataService" ref="seedDataService"/>
   	</bean>
   	
   	<bean id="organizationContactService" class="com.wytal.commons.service.contact.impl.ContactServiceImpl"  scope="singleton" init-method="init">
   		<property name="contactDaoService" ref="organizationContactDaoService"/>

   	</bean>
   	
   	<bean id="organizationDaoService" class="com.wytal.organization.service.impl.OrganizationDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-organization.sql"/>
   		<property name="seedDataService" ref="seedDataService"/>
   		<property name="addressDaoService" ref="addressDaoService"/>
   		<property name="organizationContactDaoService" ref="organizationContactDaoService"/>
   	</bean>
   	
   	<bean id ="organizationService" class="com.wytal.organization.service.impl.OrganizationServiceImpl" scope="singleton" init-method="init">
   		<property name="organizationDaoService" ref="organizationDaoService"/>
   		<property name="exceptionFactory" ref="exceptionFactory"/>
   		<property name="seedDataService" ref="seedDataService"/>
   	</bean>
   	
   	<jaxrs:server address="/v1/org" id="orgAdminServiceExt">
		<jaxrs:serviceBeans>
			<ref bean="organizationService"/>
				</jaxrs:serviceBeans>
				<jaxrs:extensionMappings>
					<entry key="xml" value="application/xml"/>
					<entry key="json" value="application/json" />
				</jaxrs:extensionMappings>
                <jaxrs:providers>
					<ref bean="jsonProvider"/>
                    <ref bean="exceptionMapper"/>
                    <ref bean="cors-filter"/>
				</jaxrs:providers>
    </jaxrs:server>
   	

</beans>
