<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xmlns:cxf="http://cxf.apache.org/core"
      xsi:schemaLocation="http://www.springframework.org/schema/beans 
      					  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         				  http://cxf.apache.org/jaxrs 
         				  http://cxf.apache.org/schemas/jaxrs.xsd
         				  http://cxf.apache.org/core 
         				  http://cxf.apache.org/schemas/core.xsd">
     
	<bean id="personDaoService" class="com.wytal.person.service.impl.PersonDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-person.sql"/>
   		<property name="personContactDaoService"  ref="personContactDaoService"/>
   		<property name="personRelationDaoService" ref="personRelationDaoService"/>
   		<property name="personAddressDaoService"  ref="personAddressDaoService"/>
   		<property name="exceptionFactory"		  ref="exceptionFactory"/>
   		<property name="crypto"					  ref="crypto"/>
   	</bean>
   	
   	<bean id="personService" class="com.wytal.person.service.impl.PersonServiceImpl"  scope="singleton" init-method="init">
   		<property name="personDaoService" ref="personDaoService"/>
   		<property name="exceptionFactory" ref="exceptionFactory"/>
   	</bean>
   	
   	
   	<bean id="personContactDaoService" class="com.wytal.commons.service.contact.impl.ContactDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-personContact.sql"/>
   		<property name="exceptionFactory" ref="exceptionFactory"/>
   		<property name="seedDataService" ref="seedDataService"/>
   	</bean>
   	
   	<bean id="personContactService" class="com.wytal.commons.service.contact.impl.ContactServiceImpl"  scope="singleton" init-method="init">
   		<property name="contactDaoService" ref="personContactDaoService"/>
   	</bean>
   	
   	
   	<bean id="personRelationDaoService" class="com.wytal.person.service.impl.PersonRelationDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-personRelation.sql"/>
   		<property name="seedDataService" ref="seedDataService"/>
   	</bean>
   	
   	<bean id="personRelationService" class="com.wytal.person.service.impl.PersonRelationServiceImpl"  scope="singleton" init-method="init">
   		<property name="personRelationDaoService" ref="personRelationDaoService"/>
   		<property name="exceptionFactory" ref="exceptionFactory"/>
   	</bean>
   	
   	<bean id="personAddressDaoService" class="com.wytal.person.service.impl.PersonAddressDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-personaddress.sql"/>
   		<property name="addressDaoService" ref="addressDaoService"/>
   		<property name="seedDataService" ref="seedDataService"/>
   	</bean>
   	
   	<bean id="personAddressService" class="com.wytal.person.service.impl.PersonAddressServiceImpl"  scope="singleton" init-method="init">
   		<property name="personAddressDaoService" ref="personAddressDaoService"/>
   		<property name="exceptionFactory" ref="exceptionFactory"/>
   	</bean>
   	
   	
  	<jaxrs:server address="/v1/person" id="personAdminService">
		<jaxrs:serviceBeans>
		<ref bean="personService"/>
			</jaxrs:serviceBeans>
			<jaxrs:extensionMappings>
				<entry key="xml" value="application/xml"/>
				<entry key="json" value="application/json" />
			</jaxrs:extensionMappings>
               <jaxrs:providers>
				<ref bean="jsonProvider"/>
                   <ref bean="exceptionMapper"/>
                   <ref bean="cors-filter"/>
			</jaxrs:providers>
    </jaxrs:server>
   	
   	

</beans>
