<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jaxrs="http://cxf.apache.org/jaxrs"
      xmlns:cxf="http://cxf.apache.org/core"
      xsi:schemaLocation="http://www.springframework.org/schema/beans 
      					  http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
     
	<bean id="seedDataService" class="com.wytal.commons.seed.service.impl.SeedDataServiceImpl" scope="singleton" init-method="init">
		<property name="seedDataDaoService" ref="seedDataServiceDao"/>
	</bean>
	
	<bean id="seedDataServiceDao" class="com.wytal.commons.seed.service.impl.SeedDataDaoServiceImpl" scope="singleton" init-method="init" parent="serviceResource">
   		<property name="resourceName" value="jdbc-commons.sql"/>
   	</bean>
    

</beans>

